langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
chromadb
ragas==0.4.3
streamlit
python-dotenv
pypdf
mcp
langchain-text-splitters
langchain-huggingface
langchain-chroma
huggingface-hub
langchain-google-vertexai
fastmcp
langgraph-checkpoint-sqlite